/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

td {
    border: 1px dashed rgba(0,0,0,.4);
    padding: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.vline {
    border-right: 2px solid rgba(0,0,0,.8);
}

.hline {
    border-bottom: 2px solid rgba(0,0,0,.8);
}

.no-outline {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
